body {
    --bs-body-color: #ccc;
    --bs-body-bg-bg: #1e1e1e;
    --bs-body-bg: #222;
    --bs-light-bg: #333;
    --bs-dark-rgb: 222, 218, 214;
    --full-color: #000;
    --full-inverse-color: #FFF;
    --light-color: #3e3e3e;
    --primary-highlight-color: #5b9bd1;
    --primary-highlight-bg: #363f46;

}

body {
    background-color: var(--bs-body-bg-bg);
    color: var(--bs-body-color);
}

div.progress {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table.three-column {
    table-layout: fixed;
    width: 300px
}

.navbar {
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid var(--light-color);
    box-shadow: 0 0 0 rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .18);
    background-color: var(--bs-body-bg);
}

.bg-light {
    background-color: var(--bs-light-color) !important;
}

.navbar-brand {
    color: var(--full-inverse-color) !important;
    opacity: 0.9;
}

.navbar-brand:hover,
.nav-link:hover {
    opacity: 1;
}

.form-control,
.form-control:focus,
.form-select,
.form-select:focus {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-color: var(--light-color);
}

.nav-link {
    color: var(--bs-body-color) !important;
    opacity: 0.8;
}