{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdn.destiny.gg/emotes/emotes.css">
{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a user..." aria-label="Search" id="usersearch">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="usersearchbtn">Search</button>
</form>
{% endblock %}

{% block content %}
<div align="center"><h1>{{header|safe}}</h1></div>
{{content|safe}}
{% endblock %}