{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdn.destiny.gg/emotes/emotes.css">
{% endblock %}

{% block search %}
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search for a user..." aria-label="Search"
        id="usersearch">
    <button class="btn btn-outline-success" type="submit" id="usersearchbtn">Search</button>
</form>
{% endblock %}

{% block content %}
<div align="center">
    <p></p>
    <h1>{{header|safe}}</h1>
    <p></p>
</div>
{{content|safe}}
{% endblock %}